body {
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "player player";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.cabecalho {
    grid-area: header;
}

.menu-lateral {
    grid-area: aside;
}

.principal {
    grid-area: main;
}

.secao-player {
    grid-area: player;
}